<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/bootstrap/css/login.css" rel="stylesheet">
    <link href="/bootstrap/css/style.css" rel="stylesheet">

</head>

<body class="color-body" style="background-color: #858796">
<div class="container px-5">
    <div>
        <div class="login-form">
            <h3>아이디 찾기</h3><br/>
            <form th:object="${findByEmailRequest}" id="findByEmailRequest">
                <div align="center">
                    <div class="w-100 d-flex">
                        <input th:field="*{email}" type="text" class="join-input" placeholder="이메일을 입력하세요">
                        <button type="button" onclick="send_id_by_email()" class="btn find-btn">찾기</button>
                    </div>
                </div>
            </form>
            <br/><br/>
            <button type="button" onclick="window.close()" class="btn find-btn">창닫기</button>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>


<script th:inline="javascript">
    function send_id_by_email() {
        let email = $("#email").val();
        if (email == "") {
            alert("공백일 수 없습니다")
            return
        }
        if (!email.includes("@")) {
            alert("이메일 형식이 아닙니다")
            return
        }

        $.ajax({
            type: 'GET',
            url: '/api/v1/users/find-id-by-email',
            data: $('#findByEmailRequest').serialize(),
            success: function (message) {
                console.log(message)
                alert(message.result)
                if(message.result == "메일로 아이디를 전송했습니다.") {
                    window.close()
                } else {
                    location.href = "/users/find-id"
                }
            }
        });
    }

</script>


</body>

</html>