<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/bootstrap/css/login.css" rel="stylesheet">
    <link href="/bootstrap/css/style.css" rel="stylesheet">
</head>

<body class="back-color">

    <div class="container">

        <a class="sidebar-brand d-flex align-items-center justify-content-center logo-margin" href="/" >
            <div class="sidebar-brand-icon">
                <img src="/bootstrap/img/logo.png" width="170"></img>
            </div>
        </a>
<!--        <button th:align="center" onclick="location.href='/'" type="button" class="brand-btn">Crime Capture TV</button>-->

        <!-- Outer Row -->
        <div class="row justify-content-center container-margin">

            <div class="disp col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="">
                                <div class="p-5">
                                    <form th:method="post" th:action="@{/users/login}" th:object="${userLoginRequest}" class="">
                                        <br />
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"><b>Login</b></h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                th:field="*{id}" placeholder="아이디">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                th:field="*{password}" placeholder="비밀번호">
                                        </div>

                                        <div id="login-fail" class="alert-fail" hidden>아이디 또는 비밀번호가 일치하지 않습니다</div>
                                        <br/>

                                        <button type="submit" class="join-btn">로그인</button>

                                    </form>
                                    <br />
                                    <div class="text-center bottom-text" style=" text-decoration-line: none;">
                                        <a class="small" onclick="find_id()">아이디 찾기</a> | <a class="small" onclick="find_pw()">비밀번호 재설정</a>
                                    </div>
                                    <br />
                                    <div class="text-center">아직 회원이 아니신가요? <a href="/users/join">회원가입</a></div>

                                    </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/bootstrap/js/sb-admin-2.min.js"></script>

    <script th:inline="javascript" sec:authorize="isAuthenticated()">
        window.onload = function () {
            alert('이미 로그인 되어있습니다')
            location.href='/'
        }
    </script>


<script th:inline="javascript" sec:authorize="isAnonymous()">
    window.onload = function () {
        if(location.href.includes("fail")) {
            document.getElementById("login-fail").removeAttribute("hidden");
        }
    }
    function find_id() {
        let new_window_width = 400
        let new_window_height = 400
        let positionX = 50;
        let positionY = 150;
        window.open("/users/find-id", "아이디 찾기", "width=" + new_window_width + ", height=" + new_window_height +
            ", top=" + positionY + ", left=" + positionX);
    }
    function find_pw() {
        let new_window_width = 400
        let new_window_height = 400
        let positionX = 50;
        let positionY = 150;
        window.open("/users/find-pw", "비밀번호 재설정", "width=" + new_window_width + ", height=" + new_window_height +
            ", top=" + positionY + ", left=" + positionX);
    }
</script>


</body>

</html>